<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
      <input
        type="text"
        placeholder="Paste your playlist link here.."
        class="form-control"
        [(ngModel)]="playlistUrl"
      />
    </div>
    <div class="col"></div>
  </div>
  <div class="row mt-3">
    <div class="col"></div>
    <div class="col-3">
      <div class="row">
        <div class="col mt-1">
          <button class="btn btn-primary w-100" (click)="fetchPlaylist($event, mymodal)">
            Fetch Playlist!
          </button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="row mt-3">
    <div class="col"></div>
    <div class="col-3">
      <ul class="list-group">
        <div class="row" *ngFor="let pl of foundPlaylists">
          <div class="col">
            <li class="list-group-item"  (click)="loadSelectedPlaylist(pl)" id="foundPlaylist">
              {{pl.name}}
            </li>
          </div>
          <div class="col">
            <fa-icon [icon]="refreshIcon" (click)="refreshCurrentPlaylist(pl)" style="cursor: pointer;"></fa-icon>
          </div>
        </div>
      </ul>
    </div>
    <div class="col"></div>
  </div>
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Found New Playlist</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- ask for new playlist name -->
      <input
        type="text"
        placeholder="Enter new playlist name.."
        class="form-control"
        [(ngModel)]="newPlaylistName"
        required
        #newPlaylistNameInput
      />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" [disabled]="newPlaylistName.length==0" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>
</div>
