<div class="row">
    <div class="col">
        <li class="list-group-item"  (click)="loadSelectedPlaylist(playlist)" id="foundPlaylist">
          {{playlist.name}}
        </li>
    </div>
    <div class="col">
        <fa-icon [icon]="refreshIcon" (click)="refreshCurrentPlaylist(playlist)" style="cursor: pointer;" *ngIf="!isRefreshing; else loader;"></fa-icon>
        <ng-template #loader>
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </ng-template>
    </div>
</div>

