<div class="container mt-2">
    <div class="row">
      <div class="col"></div>
      <div class="col-8">
        <div class="card">
          <div class="card-body">
            <fa-icon [icon]="musicIcon"></fa-icon> {{ playlistItem.artist }} -
            {{ playlistItem.original_title }}
            <br />
            <!-- get audio range -->
            <span>{{playbackPosition | minuteSeconds }}</span>
            <input
              type="range"
              min="0"
              max="{{ maxDuration }}"
              value="{{ playbackPosition }}"
              (input)="seek($event)"
              class="range purple"
            />
            <span>{{maxDuration| minuteSeconds }}</span>
            <button class="btn btn-dark m-2 playerbtn" (click)="changeSong('previous')">
              <fa-icon [icon]="previosIcon"></fa-icon>
            </button>
            <button class="btn btn-dark m-2 playerbtn" (click)="playerHandler()">
              <fa-icon [icon]="playerIcon"></fa-icon>
            </button>
            <button class="btn btn-dark m-2 playerbtn" (click)="changeSong('next')">
              <fa-icon [icon]="nextIcon"></fa-icon>
            </button>
           
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
